
<div class="inicio">
  <div class="datosCentro">
    <div class="data">
      <p class="titulo">Sobre mí</p>
      <hr>
      <p> &diamond; Mi nombre es Santiago Cordova Berrelleza</p>
      <p> &diamond; Soy un estudiante del ITESO</p>
      <p>&diamond; Me gusta la tecnología y la programación</p>
      <hr class="lightHr">
      <p>&diamond; Para saber más usa los links!</p>

      
    </div>
    <div class="imagen">
      <img src="../../../assets/fotoPerfil.jpeg" alt="fotoPerfil" class="img">
    </div>

  </div>
</div>
