<div class="inicio">
    <div class="datosCentro">
      <div class="data">
        <p class="titulo">Contáctame</p>
        <hr>
        <p> &diamond; Correo Institucional: di730547@iteso.mx</p>
        <p> &diamond; Correo Personal: santiago.cordova.ber@gmail.com</p>
        <p> &diamond; Celular: 33 38140191</p>
        <p>&diamond; Linkedin: santiago-cordova</p>
        <hr class="lightHr">
        <p>&diamondsuit; Guadalajara, Jalisco, Mexico</p>
        
      </div>
      <div class="imagen">
        <img src="../../../assets/contact.svg" alt="contacto" class="img">
      </div>
  
    </div>
  </div>