
.datosCentro{
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    text-align: center;
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    
    padding: .5em;
    background: rgb(7, 63, 7);
    border-radius: 10px;

}
.data{
    text-align: left;
    width: 100%;
    background-color: white;
    padding: .5em;
    margin-left: .25em;
    font-weight: bolder;
    .titulo{
        text-align: center;
        font-size: x-large;
    }
    hr{
        background-color: rgb(7, 63, 7);
        height: 5px;
    }
    .subTitulo{
        font-size: large;
    }
    .lightHr{
        height: 2px;
    }
    


}
.imagen{
    display: flex;
    top: 20%;
    background-color: white;
    margin-right: .8em;
    .img{
        border: 5px solid #fff;
        height: auto;
        width: 100%;
    }
    
}