<div class="inicio">
  <div class="datosCentro">

    <div class="imagen">
      <img src="../../../assets/iteso.jpg" alt="iteso" class="img">
    </div>
    <div class="data">
      <p class="titulo">Mi Educación</p>
      <hr>
      <p> &diamond; Estudio Ing. en Sistemas Computacionales en ITESO</p>
      <p> &diamond; GPA: 9.3/10</p>
      <p>&diamond; Cursos relevantes: Desarrollo Web, Bases de Datos, Algoritmos y Estructuras de Datos</p>
      <hr class="lightHr">
      <div class="uniProj">
        <p class="subTitulo">Proyectos de Universidad:</p>
        <p>&diamond; Image filter Java API</p>
        <p>&diamond; Simulador de Horario de ITESO - HTML, CSS, JavaScript</p>
      </div>
    </div>
  </div>
</div>
