<h1>Datos Personales:</h1>
<div id="datos">
            <p class="datosGeneral">Nombre: Santiago Córdova Berrelleza</p>
            <p class="datosGeneral">Carrera: Ing. en Sistemas Computacionales</p>
            <p class="datosGeneral">Semestre: 6to</p>
            <p class="datosGeneral">Hobbies: Futbol, Tecnología, Computadoras, Progamación, Viajes, Videojuegos </p>
        </div>