
<main>
    <section>
            <div class="contacto"> <h1>Contacto</h1>
                <div>Correo Escolar: di730547@iteso.mx</div>
                <div>Télefono: 01-800-2000</div>
                <div>Ubicación: Zapopan, Jalisco, México. </div>
                <div>Universidad: ITESO - Universidad Jesuita de Guadalajara</div>
            </div>
        </section>
        
</main>