
<main>
    <div class="container"> <h2>Fotos</h2>
            <div ><img src="./dist/images/fotoPerfil.jpeg" alt="fotoPresentacion" id="idImg"><span id="foto">Foto Personal</span></div>
            <div><img src="./dist/images/fotoFubtol.jpeg" alt="" id="idImg"><span id="foto">Foto Futbol</span></div>
            <div><img src="./dist/images/fotoTech.jpeg" alt="" id="idImg"><span id="foto">Foto Tecnología</span></div>
            <div><img src="./dist/images/fotoViaje.jpeg" alt="" id="idImg"><span id="foto">Foto Viaje</span></div>
        </div>
</main>