<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Este soy yo</title>
    <link rel="stylesheet" href="./dist/css/estilos.css">
    <link rel="stylesheet" href="./dist/css/grid.css">
</head>
<body>
    <header>
        <h2>Página de Presentación</h2>
        <hr>
        <div id="datos">
            <p class="datosGeneral">Nombre: Santiago Córdova Berrelleza</p>
            <p class="datosGeneral">Carrera: Ing. en Sistemas Computacionales</p>
            <p class="datosGeneral">Semestre: 6to</p>
            <p class="datosGeneral">Hobbies: Futbol, Tecnología, Computadoras, Progamación, Viajes, Videojuegos </p>
        </div>
        

    </header>
    <main>
        <div class="container"> <h2>Fotos</h2>
            <div ><img src="./src/images/fotoPerfil.jpeg" alt="fotoPresentacion" id="idImg"><span id="foto">Foto Personal</span></div>
            <div><img src="./src/images/fotoFubtol.jpeg" alt="" id="idImg"><span id="foto">Foto Futbol</span></div>
            <div><img src="./src/images/fotoTech.jpeg" alt="" id="idImg"><span id="foto">Foto Tecnología</span></div>
            <div><img src="./src/images/fotoViaje.jpeg" alt="" id="idImg"><span id="foto">Foto Viaje</span></div>
        </div>

        <hr>

        <section>
            <div class="contacto"> <h1>Contacto</h1>
                <div>Correo Escolar: di730547@iteso.mx</div>
                <div>Télefono: 01-800-2000</div>
                <div>Ubicación: Zapopan, Jalisco, México. </div>
                <div>Universidad: ITESO - Universidad Jesuita de Guadalajara</div>
            </div>
        </section>
        
        

    </main>
    <footer>
        <p></p>
        &copy; ITESO 2023 - Programación de Aplicaciones de Escritorio
    </footer>
    
</body>
</html>