@import "colores";
@import "mixins";

html,body{
    @include nomargin;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
body{
    height: 100%;
}

header, footer{
    height: 80px;
    width: 100%;
    background-color:$color-primario;
    color: $color-fondo;
    font-style: normal;
    text-align: center;

}
header{
    padding-top: 1px;
    height: 210px;
}
hr{
    color: $color-secundario;
    border-color: $color-secundario;
    border-width: 4px;
}

#foto{
    @include foto;
}
#idImg{
    @include idImg;
}
footer{
    padding-top: 20px;
}

.datosGeneral{
    @include datosGeneral
}
