<div class="inicio">
    <div class="datosCentro">
      <div class="data">
        <p class="titulo">Skills</p>
        <hr>
        <p class="subTitulo">Skills Técnicas:</p>

        <p> &diamond; SQL(DB2, Oracle Database, MS SQL), MDX, AWS</p>
        <p> &diamond; Python, Java, C, Assembly</p>
        <p> &diamond; JavScript, HTML/CSS, NodeJS, MongoDB</p>
        <p> &diamond; Git/Github, UML, MS Office Suite</p>
        <hr class="lightHr">
        <p class="subTitulo">Skills Interpersonales:</p>
        <p>&diamond; Teamwork, Adaptable, Creative, Team Leadership , Active Listening</p>
        
      </div>
      <div class="data">
        <p class="titulo">Idiomas y Certificaciones</p>
        <hr>
        <p class="subTitulo">Idiomas:</p>
        <p class="left">&diamond; Inglés - Intermedio B2</p>
        <p class="left">&diamond; Español - Nativo </p>
        <hr class="lightHr">
        <p class="subTitulo">Certificaciones:</p>
        <p class="left">&diamond; English Certificate “Pearson Edexcel Level I Certificate in ESOL International (CEF B2)”</p>
      </div>

  
    </div>
  </div>
