<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Este soy yo</title>
    <link rel="stylesheet" href="./dist/css/estilos.css">
    <link rel="stylesheet" href="./dist/css/grid.css">
</head>
<body>
    <header>
        <h2>Página de Presentación</h2>
        <hr>
    <nav >
        <a  class="menu" href="/?token=123">Home</a>
        <a  class="menu" href="formulario?token=123">Contacto</a>
        <a  class="menu" href="imagenes?token=123">Galeria</a>
        <a  class="menu" href="datos?token=123">Datos Personales</a>
    </nav>
        

    </header>

    {{{body}}}
    <footer>
        <p></p>
        &copy; ITESO 2023 - Programación de Aplicaciones de Escritorio
    </footer>
    
</body>
</html>